In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:

# Replacing load_boston with CSV from GitHub but keeping same variable names
boston = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")
df = boston  # So that df = pd.DataFrame(boston.data) is still valid

In [3]:
df.head(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
X = df.iloc[:,0:13]
y = df.iloc[:,13]

In [5]:
df.shape

(506, 14)

In [6]:
X.shape

(506, 13)

In [7]:
y.shape

(506,)

In [8]:
X

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score

In [10]:
lr = LinearRegression()
dt = DecisionTreeRegressor()
svr = SVR()

In [11]:
estimators = [('lr',lr),('dt',dt),('svr',svr)]

In [12]:
for estimator in estimators:
  scores = cross_val_score(estimator[1],X,y,scoring='r2',cv=10)
  print(estimator[0],np.round(np.mean(scores),2))

lr 0.2
dt -0.17
svr -0.41

In [13]:
from sklearn.ensemble import VotingRegressor

In [14]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr,X,y,scoring='r2',cv=10)
print("Voting Regressor",np.round(np.mean(scores),2))

Voting Regressor 0.45

In [15]:
for i in range(1,4):
  for j in range(1,4):
    for k in range(1,4):
      vr = VotingRegressor(estimators,weights=[i,j,k])
      scores = cross_val_score(vr,X,y,scoring='r2',cv=10)
      print("For i={},j={},k={}".format(i,j,k),np.round(np.mean(scores),2))

For i=1,j=1,k=1 0.44
For i=1,j=1,k=2 0.37
For i=1,j=1,k=3 0.24
For i=1,j=2,k=1 0.41
For i=1,j=2,k=2 0.39
For i=1,j=2,k=3 0.33
For i=1,j=3,k=1 0.38
For i=1,j=3,k=2 0.35
For i=1,j=3,k=3 0.35
For i=2,j=1,k=1 0.45
For i=2,j=1,k=2 0.42
For i=2,j=1,k=3 0.35
For i=2,j=2,k=1 0.45
For i=2,j=2,k=2 0.45
For i=2,j=2,k=3 0.36
For i=2,j=3,k=1 0.43
For i=2,j=3,k=2 0.42
For i=2,j=3,k=3 0.41
For i=3,j=1,k=1 0.41
For i=3,j=1,k=2 0.44
For i=3,j=1,k=3 0.37
For i=3,j=2,k=1 0.46
For i=3,j=2,k=2 0.46
For i=3,j=2,k=3 0.43
For i=3,j=3,k=1 0.44
For i=3,j=3,k=2 0.47
For i=3,j=3,k=3 0.43

In [16]:
# using the same algorithm

dt1 = DecisionTreeRegressor(max_depth=1)
dt2 = DecisionTreeRegressor(max_depth=3)
dt3 = DecisionTreeRegressor(max_depth=5)
dt4 = DecisionTreeRegressor(max_depth=7)
dt5 = DecisionTreeRegressor(max_depth=None)

In [17]:
estimators = [('dt1',dt1),('dt2',dt2),('dt3',dt3),('dt4',dt4),('dt5',dt5)]

In [18]:
for estimator in estimators:
  scores = cross_val_score(estimator[1],X,y,scoring='r2',cv=10)
  print(estimator[0],np.round(np.mean(scores),2))

dt1 -0.85
dt2 -0.11
dt3 -0.07
dt4 0.03
dt5 -0.22

In [19]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr,X,y,scoring='r2',cv=10)
print("Voting Regressor",np.round(np.mean(scores),2))

Voting Regressor 0.17